<div>
	<h1>About Films'R'Us</h1>
	<br>
	<p>Films'R'Us is a website dedicated to providing it's customers with up-to-date knowledge about the current trending, and best selling films of the past decade!
		<br><br>
	We are currently developing the finished version of our website, but due to popular demand we have published this prototype version to keep our customers happy. 
		<br><br>
	This, unfortunately means that some of our web pages will not be fully functional and we can only apologise in advance.</p>
</div>